@model WebApplication1.Entities.Account

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Index</h4>
<hr />
@if (string.IsNullOrEmpty(Session["currentAccount"] as string))
{
    <a href="@Url.Action("DangNhap","Home")" class="btn btn-primary">Đăng nhập</a>
}
else
{
    <h1>hello @Session["currentAccount"]</h1>
    <a href="@Url.Action("DangXuat","Home")" onclick="return confirm('bạn muốn đăng xuất không?')" class="btn btn-primary">Đăng xuất</a>
    <a href="@Url.Action("DangKyHocPhan","Home")" class="btn w3-purple">Đăng ký học phần</a>

}

@section scripts {
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "200",
                "hideDuration": "500",
                "timeOut": "2500",
                "extendedTimeOut": "500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        @Html.Raw(TempData["script"]);
        })
    </script>



    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>

}
@Html.Raw(TempData["html"])
