@model IEnumerable<WebApplication1.Entities.HocPhan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm học phần", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete",
                                       new { id = item.Id },
                                       new { onclick = "return confirm('bạn có muốn xóa không?');" })
            </td>
        </tr>
    }

</table>
<div>
    <a href="@Url.Action("Index","Admin")" class="btn btn-default">< Back to Admin page</a>
</div>
